* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'PT Sans', sans-serif; */
/* Orange: #bb7637
Purple: #8d5aa6
Neon blue: #307a88 */


.container {
    max-width: 1140px;
    padding: 0 5em;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #181414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Title */

.main_title {
    background-color: #181414;    ;
}

.title_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.soundbox {
    color: rgb(245,245,245);
}

/* Sounds */

.sounds {
    background-color: #181414;
}

.btn {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 8em;
    width: 8em;
}

.btn_blue {
    border: 4px solid #8CF9EE;
}

.btn_yellow {
    border: 4px solid #adbe14;
}

.btn_purple {
    border: 4px solid #492ac2;
}

.pressed {
    opacity: 0.6;
    color: #fff;
}

/* Footer */

.footer {
    background-color: #181414;
    text-align: center;
}

/* Utility classes */

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5em;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #e7e7e7;
    font-size: 1rem;
    line-height: 1.3rem;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    color: crimson;    ;
    font-weight: 800;
    font-size: 3.7rem;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    color: #e7e7e7;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    color: #e7e7e7;
}

.p-1 {
    padding: 4em 0;
}

.p-2 {
    padding: 2em 0;
}

.p-25 {
    padding: 1.5em 0;
}

.p-15 {
    padding: 3.2em 0;

}

.p-3 {
    padding: 1em 0;
}

.m-1 {
    margin-top: 4em;
}

.m-2 {
    margin-top: 2em;
}

.m-3 {
    margin-top: 1em;
}

/* Media queries */

@media (max-width: 1030px) {
    .grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 875px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.3rem;
    }
}

@media (max-width: 677px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .sound_buttons {
        padding: 1em 0;
    }

    h1 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 590px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .sound_buttons {
        padding: 1em 0;
    }

    h1 {
        font-size: 1.9rem;
    }

    h3 {
        font-size: 1.1rem;
    }
}


